* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

header {
    display: flex;
    background: rgb(10,10,10);
    justify-content: center;
}

h1 {
    display: inline;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

img {
    height: 10vh;
    width: auto;
}