* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

html {
    background: rgb(30,30,30);
}

header {
    display: flex;
    background: rgb(10,10,10);
    justify-content: center;
    height: 20vh;
}

h1 {
    display: inline;
    width: 44vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid white;
    margin: 1vh 3vw;
}

img {
    height: 10vh;
    width: auto;
}

nav {
    border: 1px solid black;
    display: flex;
    height: 12vh;
    border-bottom: 15px solid rgb(50,50,50);
}

nav button {
    flex: 1;
    border: 2px solid green;
    background: purple;
    color: yellow;
}

nav button:first-child {
    border-left: none;
}

nav button:last-child {
    border-right: none;
}

section {
    width: 90vw;
    display: flex;
    margin: auto;
    margin-top: 25px;
    background: white;
    padding: 15px 25px 10px;
    height: 40vh;
}

article {
    flex: 4;
}

#imgPlaceholder {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    border: 1px solid black;
}

.potato {
    width: 100%;
    height: auto;
    border: 1px solid red;
}